.Poster {
    position: relative;
    margin: 0;
    padding: 0;

    >img {
        width: 100%;
    }

    .Editor {
        // border: 1px red solid;
        position: absolute;
        left: 3.290414878397711%;
        /* 46 */
        right: 22.74678111587983%;
        /* 1080 */
        top: 36.11111111111111%;
        /* 380 */
        bottom: 3.194444444444444%;
        /* 1396 */

        .EditArea {
            margin: 0 1.5rem;

            font-size: 20px;
            font-family: Verdana, "Microsoft JhengHei", Arial, Segoe UI, sans-serif;
        }
    }
}